include include/mixins
doctype html
html
	head

		title updated title on conflictest branch + title changed on training branch
	body
		.container
			header.main-header
				nav
					mainnav
		.main-content
		footer
			ul
				+footer
